.aboutus_div {
    padding: 30px;
}

.aboutus__h1 {
    font-family: 'little-boy';
    font-size: 4em;
}

.aboutus__h2 {
    font-family: 'little-boy';
    font-size: 3em;
}

.aboutus__p {
    font-family: 'little-boy';
    font-size: 2em;
}